.container {
    width: 320px;
    margin-right: auto;
    margin-left: auto; 
    padding-left: 22px;
    padding-right: 22px;
    outline: 1px solid red;

    @media screen and (min-width: 1174px) {
        width: 1174px;
    }
}