.header {
    padding-top: 20px;
    padding-bottom: 16px;
    background-color: #E43071;

    @media screen and (min-width: 1174px) {
        padding-top: 25px;
        padding-bottom: 26px;
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &__logo {
        color: #FFF;
text-align: center;
font-size: 21.818px;
font-weight: 800;
line-height: 1.07;

@media screen and (min-width: 1174px) {
font-size: 40px;
transform: translateX(-100px);
}
    }

    &__span {
        color: #FFC1D8;
    }

    &__btn {
        background-color: transparent;
        border: none;
        

        @media screen and (min-width: 1174px) {
            display: none;
            }
    }

    &__burger {
        width: 40px;
        height: 40px;
        // border-radius: 38.5px;
        fill: #FFF;
    }

    &__nav {
        display: none;

        @media screen and (min-width: 1174px) {
            display: block;
            }
    }

    &__list {
        display: none;

        @media screen and (min-width: 1174px) {
            display: flex;
            gap: 76px;
            }
    }

    &__link {
        color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.12;
    }
    
    &__item:last-child{
        .header__link {
            background-color: #FFF;
            color: #E43071;
            border-radius: 200px;
            border: none;
            padding: 16px 62px;
            position: absolute;
            right: -100px;
            top: 50%;
            transform: translate(0%, -50%);
        }
    }
}